gradio==5.21.0
soundfile==0.13.1
huggingface_hub==0.29.2
scipy==1.15.2
## for phi4-mini, qwen2.5-3b, llama3.2-3b, deepseek-r1-1.5b
transformers==4.49.0 
## ---- below packages whether local and custom xTTSv2 ----
# torch==2.6.0
# torchaudio==2.6.0
# torchvision==0.21.0
## for xTTSv2
# coqui-tts==0.25.3
# transformers==4.46.2 
